<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>JavaScript Workshop</title>

		<meta name="description" content="">
		<meta name="author" content="">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="./bower_components/reveal.js/css/reveal.min.css">
		<link rel="stylesheet" href="./bower_components/reveal.js/css/theme/default.css" id="theme">



		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="./bower_components/reveal.js/lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="./bower_components/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="./bower_components/reveal.js/lib/js/html5shiv.js"></script>
		<![endif]-->

    <link rel="stylesheet" href="./styles.css">
	</head>

	<body>
		<div class="reveal">
			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Welcome to the JavaScript Workshop</h1>
				</section>

				<section>
          <h2>What is today about?</h2>
          <ol>
            <li>Learning something about modern JavaScript frameworks</li>
            <li>Collaborating with others to build something cool</li>
            <li>Meeting new people</li>
            <li>Having fun ^_^</li>
          </ol>
  			</section>

        <section>
          <h2>Goals for the day</h2>
          <ol>
            <li>Build a basic single page application using different JavaScript frameworks</li>
            <ul>
              <li>Knockout.js + JQuery</li>
              <li>AngularJS</li>
            </ul>
            <li>Understand the differences between the frameworks: strengths and weaknesses</li>
          </ol>
        </section>

        <section>
          <section>
            <h2>Schedule</h2>
            <table class="schedule">
              <thead>
                <th>Start</th>
                <th>End</th>
                <th>What</th>
              </thead>
              <tbody>
                <tr><td>8:30</td><td>9:15</td><td>Breakfast & Intros</td></tr>
                <tr><td>9:15</td><td>10:00</td><td>Icebreaker</td></tr>
                <tr><td>10:00</td><td>12:30</td><td>Knockout JS & JQuery Lessons</td></tr>
                <tr><td>12:30</td><td>13:30</td><td>Lunch</td></tr>
                <tr><td>13:30</td><td>15:30</td><td>Hackathon</td></tr>
                <tr><td>15:30</td><td>16:00</td><td>Demos</td></tr>
                <tr><td>16:00</td><td>16:30</td><td>Raffle & retrospective</td></tr>
              </tbody>
            </table>
          </section>

          <section>
            <h2>Alternative Schedule</h2>
            <table class="schedule">
              <thead>
                <th>Start</th>
                <th>End</th>
                <th>What</th>
              </thead>
              <tbody>
                <tr><td>8:30</td><td>9:15</td><td>Breakfast & Intros</td></tr>
                <tr><td>9:15</td><td>10:00</td><td>Icebreaker</td></tr>
                <tr><td>10:00</td><td>12:30</td><td>Knockout JS & JQuery Lessons</td></tr>
                <tr><td>12:30</td><td>13:30</td><td>Lunch</td></tr>
                <tr><td>13:30</td><td>16:00</td><td>AngularJS Lessons</td></tr>
                <tr><td>16:00</td><td>16:30</td><td>Raffle & retrospective</td></tr>
              </tbody>
            </table>
          </section>
        </section>

        <section>
          <h2>How each lesson works</h2>
          <ol>
						<li>We will give an overview of the concept being taught.</li>
            <li>You switch to the lesson folder.</li>
						<p>
							<pre><code>/Lessons/knockout/lesson-*</code></pre>
							<pre><code>/Lessons/angularjs/lesson-*</code></pre>
						</p>
            <li>Follow the instructions within the code.</li>
						<li>Try to complete the tasks at the bottom of the lesson file.</li>
            <li>If you finish quickly take the opportunity to experiment and play with what you have learned.</li>
          </ol>
					<br>
					<p>
						View completed tasks for a lesson in the <code>/lesson-*-completed</code> folder, e.g.
					</p>
					<pre><code>/Lessons/knockout/lesson-1-completed/</code></pre>
        </section>

        <!-- Knockout Start -->

        <section>
          <h2>Welcome to KnockoutJS</h2>
          <p class="question">What is KnockoutJS?</p>
          <p class="answer">Knockout is a standalone JavaScript implementation of the Model-View-ViewModel pattern with templates.</p>

          <p class="question">
            Who is the author?
          </p>
          <p class="answer">
            <em>Steve Sanderson.</em>
          </p>

        </section>

        <!--Lesson 1 start -->
        <section>
          <section>
            <h2>Lesson 1: An app with a viewmodel</h2>
            <p class="question">
              What we will cover:
            </p>
            <ol>
              <li>Writing a simple view model and activating it</li>
              <li>Declaring a simple model to bind data to the view.</li>
              <li>Using the computed function</li>
              <li>Looping through arrays</li>
            </ol>
          </section>

          <section>
            <h2>Getting started...</h2>

            <pre><code>
              //Basic HTML
              &lt;p&gt;Hello my name is &lt;span&gt;David&lt;/span&gt;&lt;/p&gt;

              //HTML with data-bind
              &lt;p&gt;Hello my name is &lt;span data-bind=&quot;name&quot;&gt;&lt;/span&gt;&lt;/p&gt;
            </code></pre>

          </section>

          <section>
            <h2>Writing a simple view model and activating it</h2>

            <pre><code>
              //Create very basic view model
              var ViewModel = {
                 name : ko.observable(&quot;David&quot;)
              }

              //Apply bindings (as data-bind arribute is not native to HTML)
              ko.applyBindings(new ViewModel());
            </code></pre>
          </section>

          <section>
            <h2>Declaring a simple model to bind data to the view</h2>

            <pre><code>

              //Knockout HTML
              &lt;p&gt;Hello my name is &lt;span data-bind=&quot;name&quot;&gt;&lt;/span&gt;&lt;/p&gt;

              //Create very basic view model
              var ViewModel = {
                 name : ko.observable(&quot;David&quot;)
              }

              //Apply bindings (as data-bind arribute is not native to HTML)
              ko.applyBindings(new ViewModel());
            </code></pre>
          </section>

          <section>
            <h2>Using a computed function</h2>

            <pre><code>
             Hello world! My full name is &lt;span data-bind=&quot;text: fullName&quot;&gt;&lt;/span&gt;

            function ViewModel() {
                var self = this;

                self.firstName = ko.observable('Bob');
                self.lastName = ko.observable('Smith');
                self.fullName = ko.computed(function() {
                    return self.firstName() + &quot; &quot; + self.lastName();
                });
            }

            //Apply bindings
            ko.applyBindings(new ViewModel());
            </code></pre>
          </section>

          <section>
            <h2>Looping through Arrays</h2>

            <pre><code>
            &lt;ul data-bind=&quot;foreach: people&quot;&gt;
              &lt;li&gt;
                  Name &lt;span data-bind=&quot;text: firstname&quot;&gt; &lt;/span&gt;
                  Surname &lt;span data-bind=&quot;text: surname&quot;&gt; &lt;/span&gt;
              &lt;/li&gt;
            &lt;/ul&gt;

            function ViewModel() {
                var self = this;

                this.people = ko.observableArray([
                    { firstname: &quot;David&quot;, surname: &quot;Boyne&quot; },
                    { firstname: &quot;Chris&quot;, surname: &quot;Neave&quot; }
                ]);
            }

            //Apply bindings
            ko.applyBindings(new ViewModel());
            </code></pre>
          </section>


          <section>
            <h2>Let's code!</h2>
            <br>
            <p>
              Open this file:
            </p>
            <pre><code>/Lessons/knockoutjs/lesson-1/index.html</code></pre>
          </section>

          <section>
            <h2>What did we learn?</h2>
            <br>
          </section>
        </section>
        <!-- Lesson 1 end -->

        <!-- Lesson 2 start -->
        <section>
          <section>
            <h2>Lesson 2: Capturing Data and Manipulate the DOM</h2>
            <p class="question">
              What we will cover:
            </p>
            <ol>
              <li>Handling Click Events</li>
              <li>Handling User Input</li>
              <li>Changing the state of elements (show/hide)</li>
              <li>Adding/Removing Classes on the Fly</li>
            </ol>
          </section>
          <section>
            <h2>Handling Click Events</h2>

            <pre><code>
  &lt;div&gt;
    Kill Meerkat &lt;span data-bind=&quot;text: numberOfMeerkatsKilled&quot;&gt;&lt;/span&gt; times
    &lt;button data-bind=&quot;click: incrementMeerkatsKilled&quot;&gt;Destroy Meerkat&lt;/button&gt;
  &lt;/div&gt;

  &lt;script type=&quot;text/javascript&quot;&gt;
      var viewModel = {
          numberOfMeerkatsKilled : ko.observable(0),
          incrementMeerkatsKilled : function() {
              var previousCount = this.numberOfMeerkatsKilled();
              this.numberOfMeerkatsKilled(previousCount + 1);
          }
      };
  &lt;/script&gt;
            </code></pre>
          </section>

          <section>
            <h2>Handling User Input</h2>

            <pre><code>
  &lt;p&gt;How many meerkats do you have? &lt;input data-bind=&quot;value: numberOfMeerkats&quot; /&gt;&lt;/p&gt;
  &lt;p&gt;How many meerkats do you want? &lt;input data-bind=&quot;value: numberOfMeerkatsWanted&quot; /&gt;&lt;/p&gt;

    &lt;script type=&quot;text/javascript&quot;&gt;
        var viewModel = {
            numberOfMeerkats: ko.observable(&quot;&quot;),        // Initially blank
            numberOfMeerkatsWanted: ko.observable(23) // Prepopulate
        };
    &lt;/script&gt;

            </code></pre>
          </section>

          <section>
            <h2>Changing the state of elements (show/hide)</h2>

            <pre><code>
  &lt;div data-bind=&quot;visible: shouldShowMessage&quot;&gt;
      You will see this message only when &quot;shouldShowMessage&quot; holds a true value.
  &lt;/div&gt;

  &lt;script type=&quot;text/javascript&quot;&gt;
      var viewModel = {
          shouldShowMessage: ko.observable(true) // Message initially visible
      };
      viewModel.shouldShowMessage(false); // ... now it's hidden
      viewModel.shouldShowMessage(true); // ... now it's visible again
  &lt;/script&gt;
            </code></pre>
          </section>

          <section>
            <h2>Adding/Removing Classes on the fly</h2>
            <pre><code>
        &lt;div data-bind=&quot;css: { warning: numberOfMeerkatsAlive() &lt;= 10 }&quot;&gt;
        &lt;span data-bind=&quot;text: numberOfMeerkatsAlive&quot;&gt;&lt;/span&gt; Meerkats Alive
        &lt;/div&gt;

        &lt;script type=&quot;text/javascript&quot;&gt;
            var viewModel = {
                numberOfMeerkatsAlive: ko.observable(100) // Positive value, so initially we don't apply the &quot;warning&quot; class
            };
            viewModel.numberOfMeerkatsAlive(10); // Causes the &quot;profitWarning&quot; class to be applied
        &lt;/script&gt;
            </code></pre>
          </section>

          <section>
            <h2>Adding/Removing Classes on the fly</h2>
            <pre><code>
    &lt;div data-bind=&quot;css: profitStatus&quot;&gt;
       Profit Information
    &lt;/div&gt;

    &lt;script type=&quot;text/javascript&quot;&gt;
        var viewModel = {
            currentProfit: ko.observable(150000)
        };

        // Evalutes to a positive value, so initially we apply the &quot;profitPositive&quot; class
        viewModel.profitStatus = ko.computed(function() {
            return this.currentProfit() &lt; 0 ? &quot;profitWarning&quot; : &quot;profitPositive&quot;;
        }, viewModel);

        // Causes the &quot;profitPositive&quot; class to be removed and &quot;profitWarning&quot; class to be added
        viewModel.currentProfit(-50);
    &lt;/script&gt;
            </code></pre>
          </section>

        <section>
          <h2>Let's code!</h2>
          <br>
          <p>
            Open this file:
          </p>
          <pre><code>/Lessons/knockoutjs/lesson-2/index.html</code></pre>
        </section>

        <section>
          <h2>What did we learn?</h2>
          <br>
        </section>

        </section>
        <!-- Lesson 2 end -->

        <!-- Lesson 3 start -->

        <section>
          <section>
            <h2>Lesson 3: Filtering and Sorting Data</h2>
            <p class="question">
              What we will cover:
            </p>
            <ol>
              <li>ko.Utils - Utility to help us sort and filter data</li>
              <li>ko.utils.arrayFilter</li>
              <li>ko.utils.arrayFirst</li>
              <li>ko.utils.arrayForEach</li>
              <li>ko.utils.arrayMap</li>
            </ol>
          </section>

          <section>
            <h2>ko.Utils - What is it?</h2>
            <p>Internally, Knockout has a number of utility functions used by the library itself, but many of these functions might actually be handy for anyone using the library. </p>
          </section>

          <section>
            <h2>ko.utils.arrayFilter</h2>
            <p>We bind a textbox to a filter observable and use it to get our filtered items</p>

            <pre>
              <code>//filter the items using the filter text
viewModel.filteredItems = ko.computed(function() {

    var filter = this.filter().toLowerCase();

    //Check if any filter has been defined
    if (!filter) {

        return this.items();

    } else {

        //Filter the array with the given filter string
        return ko.utils.arrayFilter(this.items(), function(item) {
            return ko.utils.stringStartsWith(item.name().toLowerCase(), filter);
        });
    }
}, viewModel);
              </code>
            </pre>

          </section>

          <section>
            <h2>ko.utils.arrayFirst</h2>
            <p>Return the first item that matches</p>

            <pre><code>
//identify the first matching item by name
viewModel.firstMatch = ko.computed(function() {

    var search = this.search().toLowerCase();

    //check if there is a search value
    if (!search) {

        return null;

    } else {

        //Return the first item in the array that matches
        return ko.utils.arrayFirst(this.filteredItems(), function(item) {

            return ko.utils.stringStartsWith(item.name().toLowerCase(), search);

        });
    }
}, viewModel);
            </code></pre>

          </section>

          <section>
            <h2>ko.utils.arrayForeach</h2>
            <p>Short hand to loop through array</p>
            <pre><code>
    //Function to compute the total of an array of items
    viewModel.total = ko.computed(function() {

        var total = 0;

        //Loop through given array
        ko.utils.arrayForEach(this.items(), function(item) {

            //Sumup total
            var value = parseFloat(item.priceWithTax());
            if (!isNaN(value)) {
                total += value;
            }

        });

        return total.toFixed(2);
    }, viewModel);
            </code></pre>
          </section>

          <section>
            <h2>ko.utils.arrayMap</h2>
            <p>ko.utils.arrayMap is a nice way to take an array of objects and generate a flattened structure.</p>
            <pre><code>
              //get a list of used categories
              viewModel.justCategories = ko.computed(function() {

                  var categories = ko.utils.arrayMap(this.items(), function(item) {
                      return item.category();
                  });

                  return categories.sort();

              }, viewModel);
            </code></pre>
          </section>

          <section>
          <h2>Let's code!</h2>
          <br>
          <p>
            Open this file:
          </p>
          <pre><code>/Lessons/knockoutjs/lesson-3/index.html</code></pre>
        </section>

        <section>
          <h2>What did we learn?</h2>
          <br>
        </section>


        </section>



        <!-- Lesson 3 end -->

      <!-- Lesson 4 start -->
        <section>
          <section>
            <h2>Lesson 4: Making Requests</h2>
            <p class="question">
              What we will cover:
            </p>
            <ol>
              <li>Running and Setting up the web application</li>
              <li>Making AJAX Request</li>
              <li>Visualising the data from the server</li>
            </ol>
          </section>


          <section>
            <h2>Setting up</h2>
            <p>Navigate to the directory</p>
            <pre><code>/Lessons/knockoutjs/lesson-4/server</code></pre>
            <p>Run npm install</p>
            <pre><code>npm install</code></pre>
            <p>Run node server.js</p>
            <pre><code>node server.js</code></pre>
            <p>Open up the webpage</p>
            <pre><code>http://localhost:3030</code></pre>
          </section>


          <section>
            <h2>Making Requests</h2>
            <pre><code>
  $.ajax({
    url: &quot;/getMeerkats&quot;,
    success: function(meerkats){

      //Loop through meerkats and map them back to observable array
      ko.utils.arrayForEach(meerkats, function(meerkat) {
        self.meerkats.push(meerkat);
      });

    },
    dataType: 'JSON'
  });
            </code></pre>
          </section>

          <section>
            <h2>Visualising the data from the server</h2>
            <pre><code>&lt;div class=&quot;row well&quot; data-bind=&quot;foreach: meerkats&quot;&gt;
  &lt;div &gt;
    &lt;label&gt;Name: &lt;/label&gt; &lt;span data-bind=&quot;text: name&quot;&gt;&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
            </code></pre>
            <pre><code>//Create ko array
self.meerkats = ko.observableArray();

//Make request to get data
 $.ajax({
    url: '/getMeerkats',
    success: function(meerkats){

      //Loop through meerkats and map them back to observable array
      ko.utils.arrayForEach(meerkats, function(meerkat) {
        self.meerkats.push(meerkat);
      });

    },
    dataType: 'JSON'
  });
            </code></pre>
          </section>

          <section>
            <h2>Let's code!</h2>
            <br>
            <p>
              Start the server
            </p>
            <pre><code>node server.js</code></pre>
             <p>
              Open this file:
            </p>
            <pre><code>/Lessons/knockoutjs/lesson-4/index.html</code></pre>
          </section>

        </section>

      <!-- Lesson 4 end -->

      <section>
        <section>
          <h2>LUNCH!</h2>
        </section>
      </section>


        <!-- Knockout End -->


        <!-- Angular START-->
        <section>
          <h2>Welcome to AngularJS</h2>
          <br>
          <p class="question">
            What is Angularjs?
          </p>
          <p class="answer">
            <em>A MVVM framework that provides data binding, routing, and APIs for connecting to server-side code.</em>
          </p>
          <p class="answer">
            <em>Angularjs is designed to encourage structuring your application is a loosely coupled manner by providing built in support for dependency injection and strong support for unit testing.</em>
          </p>
          <br>
          <p class="question">
            Who are the authors?
          </p>
          <p class="answer">
            <em>A couple of guys from Google.</em>
          </p>
        </section>

        <section>
          <section>
            <h2>Lesson 1: An app with a view</h2>
            <br>
            <p class="question">
              What we will cover:
            </p>
            <br>
            <ol>
              <li>Bootstrapping our app using the ng-app directive.</li>
              <li>Declaring a simple controller to bind data to the view.</li>
              <li>Using the $scope variable as our view-model.</li>
            </ol>
          </section>

          <section>
            <h2>Displaying data using Angular</h2>
            <br>
            <ol>
              <li>Add data to the $scope variable.</li>
              <li>Tell Angular where to display the data in the markup by using double brace markers '{{}}'.</li>
              <li>Angular automatically replaces the {{}} with values from the $scope as required.</li>
            </ol>
            <br>
            <p>
              Binding is two way, i.e. edits to the bound data values within the markup will be reflected back to the $scope variable.
            </p>
          </section>

          <section>
            <h2>Bootstrapping our Angular app</h2>
            <br>
            <p>
              Declaring our application scope
            </p>
            <p>
              The <code>ng-app</code> directive is used to tell Angular where the scope of our application begins. It is normal to add the directive as an attribute of either the <code>&lt;html&gt;</code> or <code>&lt;body&gt;</code> elements.
            </p>
            <pre><code>
              &lt;html ng-app="myApp"&gt;
            </code></pre>
          </section>

          <section>
            <h2>Adding a Controller</h2>
            <br>
            <p>
              Controllers are pieces of executable JavaScript code that are responsible for associating data with the current scope of a view.
            </p>
            <p>
              Controllers should retrieve the data to be displayed from your model, be it a web services or other data source, and add elements to the $scope variable that need to be made available to the view.
            </p>
            <pre><code>
              &lt;body ng-controller="MyController"&gt;
            </code></pre>
            <p>
              The <code>ng-controller</code> directive tells Angular where to apply a controller within your markup. Child elements of the element containing the <code>ng-controller</code> directive will have access to the $scope associated with your controller for binding purposes.
            </p>
          </section>

          <section>
            <h2>Wiring up the JavaScript code</h2>
            <br>
            <p>
              With the directives in place we can now add the code that executes at runtime when Angular processes our page. First we get a reference to our application by calling the <code>module()</code> function of the global <code>angular</code> reference.
            </p>
            <pre><code>
              var myApp = angular.module('myApp', []);
            </code></pre>
          </section>

          <section>
            <h2>Wiring up the JavaScript code (2)</h2>
            <br>
            <p>
              Then we declare our controller calling the <code>controller()</code> function on the application reference passing in a function that accepts the <code>$scope</code> argument.
            </p>
            <pre><code>
                myApp.controller('MyController', function($scope) {
                  // Add awesome things to the $scope
                  $scope.awesome_thing = 'OMG so awesome!';
                });
            </code></pre>
          </section>

          <section>
            <h2>Now we can bind data from $scope to our view</h2>
            <br>
            <p>
              Items from the $scope are reference in the view using double braces '{{}}' to surround the name of the $scope attribute to reference.
            </p>
            <pre><code>
              &lt;p&gt;This value is from the $scope: {{awesome_thing}}&lt;p&gt;
            </code></pre>
          </section>

          <section>
            <h2>Repeat all the data!</h2>
            <br>
            <p>
              We can then go wild with <code>ng-repeat</code> and bind to arrays of data!
            </p>
            <pre><code>
              myApp.controller('MyController', function($scope) {
                $scope.array_of_things = [
                  { name: 'Chris', occupation: 'Ninja' },
                  { name: 'David', occupation: 'Rockstar' },
                  { name: 'Michael', occupation: 'Meerkat Tamer' }
                ];
              });

              &lt;div ng-repeat="thing in array_of_things"&gt;
                &lt;label&gt;Name:&lt;/label&gt; {{thing.name}}
                &lt;label&gt;Occupation:&lt;/label&gt; {{thing.occupation}}
              &lt;/div&gt;
            </code></pre>
          </section>

          <section>
            <h2>Let's code!</h2>
            <br>
            <p>
              Open this file:
            </p>
            <pre><code>/Lessons/angularjs/lesson-1/index.html</code></pre>
            <br>
            <ol>
              <li>
								Uncomment the code to see how data can be bound to the page.
							</li>
              <li>
								Try and complete the tasks at the bottom of the file.
							</li>
							<li>
								Feel free to experiment with the sample code.
							</li>
            </ol>
            <br>
            <br>
            <p>
              A copy of index.html with all tasks completed can be found here:
              <pre><code>/Lessons/angularjs/lesson-1-completed/index.html</code></pre>
            </p>
          </section>

          <section>
            <h2>What did we learn?</h2>
            <br>
          </section>
        </section>

				<section>
					<section>
						<h2>Lesson 2: Capturing data and manipulating the DOM</h2>
						<br>
						<p class="question">
							What we will cover:
						</p>
						<br>
						<ol>
							<li>Handling click events.</li>
							<li>Handling user input.</li>
							<li>Changing the state of elements (show/hide).</li>
							<li>Changing element styles.</li>
						</ol>
					</section>

					<section>
						<h2>Handling click events - enter ng-click</h2>
						<br>
						<p>
							The <code>ng-click</code> directive allows behavior to be triggered when elements are clicked.
						</p>
						<pre><code>
<button class="btn" ng-click="killMeerkat(meerkat)">Delete</button>

$scope.killMeerkat = function(meerkat) {
	var index = $scope.meerkats.indexOf(meerkat);
	$scope.meerkats.splice(index, 1);
};
						</code></pre>
						<p>
							Specify a function within the ng-click directive to cause that
							function to be invoked when the element is clicked.
						</p>
					</section>

					<section>
						<h2>Handling user input</h2>
						<br>
						<p>
							<code>ng-model</code> is used to bind an input element to data in the $scope view model.
						</p>
						<pre><code>
<style>
.warning {
	color:red;
}
</style>

<input name="warningThreshold" ng-model="warningThreshold" />

<h2 ng-class="{warning: meerkats.length < warningThreshold}">
	You currently have {{meerkats.length}} meerkats alive
</h2>

// Give the warning threshold a default value.
$scope.warningThreshold = 4;
						</code></pre>
					</section>

					<section>
						<h2>Changing the state of elements</h2>
						<br>
						<p>
							Hiding elements is achieved using the <code>ng-hide</code> directive.
							If the expression specified in the directive evaluates to true then
							the elements are hidden, otherwise the elements are visible in the
							browser.
						</p>
						<pre><code>
<div ng-repeat="meerkat in meerkats" ng-hide="showMeerkats">
	<!-- Repeating content -->
</div>

<button class="btn btn-primary" ng-click="showMeerkats = !showMeerkats">
	Show/Hide Meerkats
</button>
						</code></pre>
					</section>

					<section>
						<h2>Changing element styles</h2>
						<br>
						<p>
							Applying style changes to elements is achieved by using the
							<code>ng-class</code> directive.
						</p>
						<pre><code>
<h2 ng-class="{warning: meerkats.length < warningThreshold}">
	You currently have {{meerkats.length}} meerkats alive
</h2>
						</code></pre>
						<p>
							The example above maps the result of the
							<code>meerkats.length < warningThreshold</code> expression to
							the <code>warning</code> CSS class.
						</p>
						<p>
							If the expression evaluates
							to true then the class is applied. Otherwise the class is not
							applied.
						</p>
					</section>

					<section>
						<h2>Let's code!</h2>
						<br>
						<p>
							Open this file:
						</p>
						<pre><code>/Lessons/angularjs/lesson-2/index.html</code></pre>
						<br>
						<ol>
							<li>
								Uncomment the code to see how different elements of the page
								can be affected by expressions bound to the model.
							</li>
							<li>
								Try and complete the tasks at the bottom of the file.
							</li>
							<li>
								Feel free to experiment with the sample code.
							</li>
						</ol>
						<br>
						<br>
						<p>
							A copy of index.html with all tasks completed can be found here:
							<pre><code>/Lessons/angularjs/lesson-2-completed/index.html</code></pre>
						</p>
					</section>

					<section>
						<h2>What did we learn?</h2>
						<br>
					</section>
				</section>

				<section>
					<section>
						<h2>Lesson 3: Filtering a Sorting Data</h2>
						<br>
						<p class="question">
							What we will cover:
						</p>
						<br>
						<ol>
							<li>Filtering data from a collection using <code>filter</code></li>
							<li>Sorting data collections</li>
							<li>Limiting the amount of data returned from a collection</li>
							<li>Data type filters</li>
						</ol>
					</section>

					<section>
						<h2>Filtering data from a collection</h2>
						<br>
						<p>
							Filters in AngularJS are components that can be included in
							expressions to transform an set of input objects to a new set
							of output objects, e.g. including only meerkats that are older
							that a specific age.
						</p>
						<pre><code>
<label>Search meerkats:</label>
<input type="text" ng-model="searchText">

<div ng-repeat="meerkat in meerkats | filter:searchText">
</div>
						</code></pre>
						<p>
							Filter a collection of elements rendered using <code>ng-repeat</code>.
						</p>
					</section>

					<section>
						<h2>Sorting data</h2>
						<br>
						<p>
							Ordering data in AngularJS is as simple as applying the
							<code>orderby</code> keyword to the expression within an
							<code>ng-repeat</code> directive.
						</p>
						<pre><code>
<a href="" ng-click="sortAscending = !sortAscending">
	Order by age ascending = {{sortAscending}}
</a>

<div ng-repeat="meerkat in meerkats
	| filter:searchText
	| orderBy:calculateAge:sortAscending">
	<!-- Repeating content -->
</div>

$scope.sortAscending = true;
						</code></pre>
						<p>
							In this example <code>calculateAge</code> is a function that returns
							the values on which to sort. The second parameter of <code>orderBy</code>
							controls the direction of the sort: ascending or descending.
						</p>
					</section>

					<section>
						<h2>Limiting the data returned from a collection</h2>
						<br>
						<p>
							The <code>limitTo</code> keyword is used to limit the number
							of items returned from an array.
						</p>
						<pre><code>
<input type="number" ng-model="displayLimit">

<div ng-repeat="meerkat in meerkats
	| filter:searchText
	| orderBy:calculateAge:sortAscending
	| limitTo:displayLimit">
	<!-- Repeating content -->
</div>

$scope.displayLimit = 2;
						</code></pre>
					</section>

					<section>
						<h2>Data type filters</h2>
						<br>
						<p>
							<code>date</code> transforms a Date value to a number of
							predefined formats or a custom format you define.
						</p>
						<pre><code>
Date of birth: {{meerkat.dateOfBirth | date:'longDate'}}
// => Date of birth: Apr 10, 1937

Day of birth: {{meerkat.dateOfBirth | date:'EEEE'}}
// => Day of birth: Saturday
						</code></pre>
						<p>
							<code>number</code> applies rounding to numeric types.
						</p>
						<pre><code>
$scope.calculateLifeExpectancy = function(meerkat) {
	return (1 / meerkat.age)) * 100;
};

Life expectancy: {{calculateLifeExpectancy(meerkat) | number:2}}%
// => Life expectancy: 1.30%
						</code></pre>
					</section>

					<section>
						<h2>Let's code!</h2>
						<br>
						<p>
							Open this file:
						</p>
						<pre><code>/Lessons/angularjs/lesson-3/index.html</code></pre>
						<br>
						<ol>
							<li>
								Uncomment the code to see how different elements of the page
								can be affected by expressions bound to the model.
							</li>
							<li>
								Try and complete the tasks at the bottom of the file.
							</li>
							<li>
								Feel free to experiment with the sample code.
							</li>
						</ol>
						<br>
						<br>
						<p>
							A copy of index.html with all tasks completed can be found here:
							<pre><code>/Lessons/angularjs/lesson-3-completed/index.html</code></pre>
						</p>
					</section>

					<section>
						<h2>What did we learn?</h2>
						<br>
					</section>
				</section>

				<section>
					<section>
						<h2>Lesson 4: Getting Data from a Server</h2>
						<br>
						<p class="question">
							What we will cover:
						</p>
						<br>
						<ol>
							<li>Running our web application.</li>
							<li>Making an HTTP requests for data.</li>
							<li>Binding the returned data to our view.</li>
						</ol>
					</section>

					<section>
						<h2>Running our web application</h2>
						<br>
						<p>Navigate to the directory</p>
						<pre><code>/Lessons/angularjs/lesson-4</code></pre>
						<p>Install Node modules</p>
						<pre><code>npm install</code></pre>
						<p>Start the Node.js server</p>
						<pre><code>node server.js</code></pre>
						<p>Open up the webpage</p>
						<pre><code>http://localhost:3030</code></pre>
					</section>

					<section>
						<h2>Making HTTP requests for data</h2>
						<br>
						<p>
							AngularJS provides an <code>$http</code> function that can be
							called to make an HTTP request to a remote server.
						</p>
						<p>
							<code>$http</code> takes a method and a URL and returns a promise
							that has two functions that handle the result of the request:
						</p>
						<pre><code>
$http({method: 'GET', url: 'http://localhost:3030/getMeerkats'})
  .success(function(data, status, headers, config) {
    // Read the data here.
  })
  .error(function(data, status, headers, config) {
    // Handle errors here.
  });
						</code></pre>
					</section>

					<section>
						<h2>Binding the returned data to our view</h2>
						<br>
						<pre><code>
$http({method: 'GET', url: 'http://localhost:3030/getMeerkats'})
  .success(function(data, status, headers, config) {
    // All we need to do is add the data to our $scope and AngularJS will
    // do the rest :)
    $scope.meerkats = data;
  });
						</code></pre>
						<p>
							AngularJS will automatically update the DOM with the new
							data added to the <code>$scope</code>.
						</p>
					</section>

					<section>
						<h2>Let's code!</h2>
						<br>
						<p>
							Open this file:
						</p>
						<pre><code>/Lessons/angularjs/lesson-4/index.html</code></pre>
						<p>
							Start the server:
						</p>
						<pre><code>node /Lessons/angularjs/lesson-4/server.js</code></pre>
						<br>
						<ol>
							<li>
								Uncomment the code to get a list of timeline events from the server.
							</li>
							<li>
								Try and complete the tasks at the bottom of the file.
							</li>
							<li>
								Feel free to experiment with the sample code.
							</li>
						</ol>
					</section>

					<section>
						<h2>What did we learn?</h2>
						<br>
					</section>
				</section>
			</div>
		</div>

		<script src="./bower_components/reveal.js/lib/js/head.min.js"></script>
		<script src="./bower_components/reveal.js/js/reveal.min.js"></script>
		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Parallax scrolling
				// parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
				// parallaxBackgroundSize: '2100px 900px',

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: './bower_components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: './bower_components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: './bower_components/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: './bower_components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: './bower_components/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: './bower_components/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
