<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Meerkat Dashboard</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <style>
      h2 {
        text-align: center;
      }

      .show-meerkats {
        margin-left:130px;
        margin-bottom: 10px;
      }

      .warning {
        color:red;
      }
    </style>
    <script src="../bower_components/angular/angular.js"></script>
  </head>

  <!-- Set the scope of the body element to use the MyController -->
  <body ng-controller="MyController">

    <!-- Binding to the view model to get a heading for the page -->
    <h2>Welcome to {{appTitle}}</h2>
    <p>{{appDescription}}</p>
    <div>
      <label>Warning threshold:</label>
      <input name="warningThreshold" ng-model="warningThreshold" />
    </div>

    <h2 ng-class="{warning: meerkats.length < warningThreshold}">You currently have {{meerkats.length}} meerkats alive</h2>
    <h2 ng-show="meerkats.length == 0">How cruel - you mudered all of the Meerkats!</h3>

    <h2>
      {{meerkatsKilled}} meerkats killed so far
    </h3>

    <button class="btn btn-primary show-meerkats" ng-click="showMeerkats = !showMeerkats">Show/Hide Meerkats</button>
    <button class="btn btn-primary show-meerkats" ng-click="resurrectLastKilledMeerkat()">Resurrect most recently deceased meerkat</button>

    <!-- Repeating Content -->
    <section class="container">
      <div class="row well" ng-repeat="meerkat in meerkats" ng-hide="showMeerkats">
        <div ng-hide="showMeerkat">
          <img src="{{meerkat.picture_href}}" />
          <div>
            <p><label>Name:</label> {{meerkat.name}}</p>
            <p><label>Initial:</label> {{meerkat.name[0]}}</p>
            <p><label>Date of birth:</label> {{meerkat.dateOfBirth}}</p>
            <p><label>Age:</label> {{calculateAge(meerkat)}}</p>
            <p>{{comment(meerkat)}}</p>
          </div>
        </div>
      <button class="btn btn-default" ng-click="showMeerkat = !showMeerkat">Show/Hide Meerkat</button>
      <button class="btn btn-danger" ng-click="killMeerkat(meerkat)">Delete</button>
      </div>
    </section>
    <!-- End of Repeating Content -->

    <script language="javascript">
      var myApp = angular.module('myApp', []);

      myApp.controller('MyController', function($scope) {
        // Set a title for our dashboard
        // (1) Uncomment the line below to bind a title to the view.
        $scope.appTitle = 'The Great Meekat Dashboard!';

        // Add the Meerkats
        // (2) Uncomment the next block to add a set of repeating data to the view.

        var base_url = 'http://cdn.comparethemarket.com/meerkat/0.0.0.0/Templates/Styles/Meerkats/PageFiles';
        $scope.meerkats = [];
        $scope.meerkats.push({ name: 'Sergei', dateOfBirth: '1937-04-10', picture_href: base_url + '/115/sergei.png' });
        $scope.meerkats.push({ name: 'Yakov', dateOfBirth: '1943-12-20', picture_href: base_url + '/109/Yakov.png' });
        $scope.meerkats.push({ name: 'Aleksandr', dateOfBirth: '1976-01-21', picture_href: base_url + '/113/Alek_profile.png' });

        $scope.meerkatGraveyard = [];

        // Calculate the date of birth for a given meerkat
        // (3) Uncomment the next block to bind a function to the view.
        $scope.calculateAge = function(meerkat) {
          var now = new Date(),
              dob = new Date(meerkat.dateOfBirth);

          return now.getYear() - dob.getYear();
        };

        $scope.meerkats.push({ name: 'Maiya', dateOfBirth: '1955-08-12', picture_href: base_url + '/109/maiya.png' });
        $scope.meerkats.push({ name: 'Vassily', dateOfBirth: '1949-05-02', picture_href: base_url + '/109/Vassily.png' });

        $scope.appDescription = 'This is such a neat way to bind data - look no JQuery ^_^';

        $scope.comment = function(meerkat) {
          if ($scope.calculateAge(meerkat) > 71) {
            return 'Old Meerkat';
          }
        };

        $scope.killMeerkat = function(meerkat) {
          var index = $scope.meerkats.indexOf(meerkat);
          $scope.meerkats.splice(index, 1);
          $scope.meerkatsKilled++;
          $scope.meerkatGraveyard.push(meerkat);
        };

        $scope.meerkatsKilled = 0;

        $scope.resurrectLastKilledMeerkat = function resurrectLastKilledMeerkat() {
          var meerkat = $scope.meerkatGraveyard.pop();
          if (meerkat) {
            $scope.meerkats.push(meerkat);
          }
        }

        $scope.warningThreshold = 4;

      // Tasks:
      // [x] - Add a show/hide button on each meerkat. Allow the user to hide any meerkat they like
      // [x] - Once the user has deleted all the meerkats, show a message saying how cruel they are "Shame on them!"
      // [x] - Log how many meerkats are currently dead. Every time you kill a meerkat the value should be incremented
      // [x] - Allow the user to resurrect meerkats
      });
    </script>
  </body>
</html>
